:root {
	--main-color: #5E4600;
	--main-color: #2D3D00;
}
body{
	background-image: url(images/bg.jpg);
	font-family: "Roboto Condensed", sans-serif;
}

header {
	font-size: 2em;
}

header i {
	color: blueviolet;
}

nav {

/* background-color: red; */
}

nav ul {
	text-align: right;
	list-style-type: none
}
nav ul li {
	display:inline-block;
}

nav ul li a {
	background-color: skyblue;
	color: white;
	padding: 0.5em 1em;
	border-radius: 0.5em 0.5em 0 0;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: var(--main-color2);
}

#main_testing_box {
	border: 3px solid black;
	padding: 1 em;
	border-radius: 0.5em;
	background-color: peachpuff;
}
table, tr,td {border: 2px solid black;
}
table, tr, td {padding: 0.5em;
}
table{
	width: 100%;
}

#bottom_row {
	background-color: skyblue;
}

image {
	display: center;
	margin-left: auto;
	margin-right: auto;

}

footer {
	text-align: center;
}

footer i {
	font-size: 1.5 em;
	color: blue;
}